	h1, h2, h3 {
		color: blue;
		text-align: center;
	}
	
	ol li { 
		font-size: medium;
		font-family: Arial, Helvetica, sans-serif; 
		color: red;
	}
	
	li {
		color: green;

	}

	ul {


	}
	input[Type=text] {   
		Background-color:  yellow;
   }
 
   input[Type=number] {   
	Background-color: rgb(161, 218, 161);
}
   #middle {
	   
		font-family: Arial, Helvetica, sans-serif;
		font-size: medium;
		background-color: rgb(64, 167, 214);
	   	width: 1000px;
	   	height: 400px;
	   	margin: 10px;
	   	padding: 30Px;
   }

   table {
		border: 2px solid black;
		border-collapse: collapse;
		width: 50%;
		text-align: center;
   }
   th {
		background-color: lightgray;
   }
   th, td {
	border: 1px solid black;
	padding: 5px;
   }

   #top {
	   font-size: 36px;
   }

   #middle {
	   font-size: 24px;
   }

   #bottom {
	width: 1000px;
	height: 50px;   
	font-size: 24px;
	background-color: rgb(157, 207, 157);
   }

      .name {
	   font-style: italic;
	   font
   }

   button {
	width: 200px;
	height: 50px;
	font-size: 24px;
	background-color: aqua;
}
	button:hover {
		background-color: orange;
	}

	